<p>Dispatch for order <a href="http://iteks.x64.me/orders/<%= @dispatch.order.id %>"><%= @dispatch.order.id %></a> has been complete by <%= @user_id %>:</p>
<table>
  <tbody>
    <tr>
      <th>Completed On</th><td></td>
    </tr>
    <tr>
      <th>Comments</th><td></td>      
    </tr>
  </tbody>
</table>