<p>A Quality Control report for order <%= @quality_control.order_id %> has now been added.</p> 
<p><a href="http://http://iteks.x64.me/quality_controls/<%= @quality_control.id %>">Quality Control Report No - <%= @quality_control.id %></a></p>
