body {
  font: small Helvetica, Arial;
  color: #333;
  margin: 0;
}
div#navigation {
  background: #2c2c2c url('/images/darkest_grey_gradient.png') repeat-x;
  padding: 4px 5px 2px;
  border-bottom: 1px solid #000;
}
div#navigation p { margin: 0;}
div#navigation img { border: 0; }
div#navigation a.current img {
  border-top: 2px solid #fff;
  padding-top: 3px;
}
p.controls {
  margin: 0;
  line-height: 1;
  background: #9e9e9e url('/images/dark_grey_gradient.png') repeat-x;
  padding: 5px;
  border-bottom: 1px solid #666;
}
p.controls span {
	padding: 3px 10px;
	text-decoration: none;
	margin-left: 5px;
	float: right;
}
p.controls a {
  text-decoration: none;
  background-color: #eee;
  color: #333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #ccc;
  margin: 2px;
  line-height: 1.5;
}
form.search {
	margin: 0;
}
p.controls form {
	margin: 0;
	padding: 0;
}
input[type=search] {
	float: right;
}
tr.even.complete, tr.complete {
  background: #CEF6CE;
  color: #666;
}
a.completed, a.incomplete {
	background: #8F9FB8 url('/images/light_blue_gradient.png') repeat-x;
	padding: 3px 10px;
	border: 1px solid #646E7E;
	-webkit-border-radius: 10px;
	text-decoration: none;
	margin-left: 5px;
	float: right;
	color: #000;
}
#logout{
	float: right;
	margin-top: 5px;
}
p.stats {
	margin: 0;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	background: #d3d3d3 url('/images/light_grey_gradient.png') repeat-x;
	padding: 5px 10px;
	text-align: center;
	text-shadow: 1px 1px 3px #fff;
}
a.incomplete {
	background: #D3D3D3 url('/images/light_grey_gradient.png') repeat-x;
	border: 1px solid #666;
}
button a {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
}
div#source {
  width: 110px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  float: left;
  padding: 0;
  background: #D1D7E1;
  font-size: smaller;
}
div#source ul {
  padding: 0;
  margin: 0 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  list-style: none;
}
div#source li {
  margin: 2px 0;
  padding:0;
}
div#source ul ul{
	border-top: 1px solid #666;
}
div#source ul ul li {
  padding: 2px 2px 2px 7px;
  font-weight: normal;
  text-transform: none;
  color: #333;
	border-top: 1px solid #E3E6F0;
	margin: 0;
	border-bottom: 1px solid #B2B6BE;
}
div#source ul ul li a {
  text-decoration: none;
  color: inherit;
	display: block;
}
div#source ul li span {
  padding-left: 5px;
	display: block;
	background: #B2B6BE;
}
div#pane {
  margin-left: 111px;
}
h3 span {
  font-size: small;
  font-weight: normal;
}
div#source ul li li.current {
  background: #425f71 url('/images/dark_blue_gradient.png') repeat-x;
  color: #fff;
  font-weight: bold;
  padding-top: 2px;
  text-shadow: 0 1px 1px #000;
  padding-bottom: 2px;
	border-top: 1px solid #4A5764;	
	border-bottom: 1px solid #4A5764;
}
div#airlock {
  border-bottom: 1px solid #333;
}
thead {
  background: #d3d3d3 url('/images/light_grey_gradient.png') repeat-x;
}
thead th {
  border-bottom: 1px solid #666;
  padding-left: 4px;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
}
th, td {
  padding: 3px 10px;
}
td {
  border-right: 1px solid #D9D9D9;
}
th.image {
  padding-right:5em;
}
td.risk{
	color:red;
}

th {
  border-right: 1px solid #9E9E9E;
}
tr.even {
  background: #F1F5F9;
}
table { width: 100%; margin:0; padding:0; border-spacing: 0;}
th.headerSortUp,th.headerSortDown {
  background: #8093B0 url('/images/light_blue_gradient.png') repeat-x;
}
th.headerSortDown:after {
  float: right;
  content: url('/images/desc.png');
}
th.headerSortUp:after {
  float: right;
  content: url('/images/asc.png');
}
label, tr, button { cursor: pointer; }
tr.selected { color: #fff; background: #4376D2;}
tr.selected a { color: #fff; }
div#pane form {
  padding: 0 0 0 10px;
}
div#pane input, div#pane select, div#pane textarea {
  font-size: medium;
}
label.required:after {
  content: "*";
  color: #f00;
}
.example {
	color: #666;
}
h2 {
	font-size: large;
	color: #666;
}
td.add_ons {
  text-align: center;
}
td.id {
  padding-right: 0.5em;
  text-align: right;
}
tr.selected td {
  border-right: 1px solid #3E6EBA;
}
div#onepane {
	padding: 0 20px;
}
div#showpane {
	padding: 0 20px;
	margin-right: 270px;
}
form table td {
  border: 0;
}
#source p {
  text-align: center;
}
fieldset {
	border: 1px solid #999;
	margin-bottom: 10px;
	padding: 0 10px 10px;
	-webkit-border-radius: 5px;
}
legend {
	border: 1px solid #999;
	-webkit-border-radius: 5px;
  background: #d3d3d3 url('/images/light_grey_gradient.png') repeat-x;
	padding: 5px;
}
div#sidebar {
	float: right;
	width: 270px;
	margin-top: 10px;
	margin-right: 5px;
}
table.tabular {
	border: solid #666;
	width: 100%; 
	margin: 0 0 10px 0; 
	padding: 0;
	border-width: 0 1px 1px 0; 
	border-spacing: 0;
}
table.tabular thead {
  background: #d3d3d3;
}
table.tabular thead th, table.tabular tbody td, table.tabular tbody th {
  border: solid #666;
	border-width: 1px 0 0 1px;
  padding-left: 4px;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
}
ul.sizes {
	list-style: none;
}
table.designs a {
  text-decoration: none;
  display: block;
  background: #2c2c2c url('/images/darkest_grey_gradient.png') repeat-x;
  border: 1px #2c2c2c solid;
  -webkit-border-radius: 10px;
  padding: 5px;
  color: #fff;
}
table.designs a.taken {
  background: #80a485 url('/images/dark_green_gradient.png') repeat-x;
  border-color: #80a485;
}
table.designs a.sampled {
  background: #ED9121;
  border-color: #ED9121;
}
div.pagination {
  text-align: center;
  margin: 10px 0;
}
div.pagination a {
  text-decoration: none;
  color: #333;
}
div.pagination a, div.pagination span.current {
  border: 1px solid #666;
  padding: 3px;
  -webkit-border-radius: 5px;
}
div.pagination span.current {
  color: #fff;
  background: #333;
}
div.pagination a.prev_page, div.pagination a.next_page {
  background: #d3d3d3 url('/images/light_grey_gradient.png') repeat-x;
}
span.disabled {
  display: none;
}
table.designs td {
	border: 0;
	text-align: center;
}
table.show {
	border: solid #666;
	width: auto;
	margin: 0 0 10px 0; 
	padding: 0;
	border-width: 0 1px 1px 0; 
	border-spacing: 0;
}
table.show thead {
  background: #d3d3d3;
}
table.show thead th, table.show tbody th {
  border: solid #666;
	border-width: 1px 0 0 1px;
  padding-left: 4px;
  text-align: right;
  text-shadow: 0 1px 1px #fff;
}
table.show tbody td {
	border: solid #666;
	border-width: 1px 0 0 1px;
  padding-left: 4px;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
}
div.sizes {
  margin-bottom: 20px;
}
ul.jq-ui-autocomplete {
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #aaa;
  margin: 0px;
  padding: 0;
  list-style: none;
  font: normal small Verdana, Arial, sans-serif;
  color: #333;
}
ul.jq-ui-autocomplete li { 
  display: block; 
  padding: .3em .5em .3em .3em; 
  overflow: hidden;
  width: 100%;
}
ul.jq-ui-autocomplete li.active { 
  background-color: #3875d7; 
  color: #fff;
}
table.positions {
  text-align: center;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}

table.positions td {
  padding: 10px;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
}
#add_pack {
  font-size: large;
  padding: 5px;
}
ul.pack_letters, ul.dispatch_numbers {
  list-style:none;
  padding:0;
  margin: 0 0 10px;
}
ul.pack_letters li, ul.dispatch_numbers li {
  display: inline;
  white-space: nowrap;
  border: 1px solid #ddd;
  background: #eee;
  padding: 2px;
  margin: 2px;
  line-height: 2;
}

#breadcrumb {
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('/images/bc_bg.png'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

#breadcrumb li {
	list-style-type:none;
	float:left;
	padding-left:10px;
	height:30px;
	display:block;
	background-image:url('/images/bc_separator.png'); 
	background-repeat:no-repeat; 
	background-position:right;
	padding-right: 15px;
	text-decoration: none;
	color:#454545;
}

#breadcrumb a:hover {
    color:#35acc5;
}

h4 {
  font-weight: normal;
  margin: 0;
}
#factory {
  display: none;
}
p.byline {
  margin: -1em 0 0 0;
  font-size: smaller;
  color: #666;
}
div.status {
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: 10px;
}
div.status p {
  margin: 0;
}
p.byline span {
  float: right;
}
span.required {
	color: #F00;
}

.tag1 { font-size: 1em; }
.tag2 { font-size: 2em; }
.tag3 { font-size: 3em; }
.tag4 { font-size: 4em; }