<% content_for :title do %>Reports<% end %>
<h2>Reports</h2> 
<ul>
	<li><a href='/reports/unplaced_orders_turkey.pdf'>Unplaced Orders - Turkey</a></li>
	<li><a href='/reports/unplaced_orders_china.pdf'>Unplaced Orders - China</a></li>
	<li><a href='/reports/late_orders_turkey.pdf'>Orders Turkey</a></li>
	<li><a href='/reports/late_orders_china.pdf'>Orders China</a></li>
	<li><a href='/reports/customer_orders.pdf'>Customer Orders</a></li>
	<li><a href='/reports/no_buy_sell.pdf'>No Buying/Selling Price</a></li>
</ul>

<% if @current_user.admin? || @current_user.id == 19 %>
	<h2>Reports - Admin Only</h2>
	<ul>
		<li><a href='/reports/total_current_order_financials.pdf'>Total Current Order Financials</a></li>
		<li><a href='/reports/country_financials.pdf'>Country Financials</a></li>
		<li><a href='/reports/customer_financials.pdf'>Customer Financials</a></li>
		<li><a href='/reports/factory_financials.pdf'>Factory Financials</a></li>
		<li><a href='/reports/profit_percents_2013.pdf'>Profit Report 2013</a></li>
		<li><a href='/reports/profit_percents_2014.pdf'>Profit Report 2014</a></li>
	</ul>
<% end %>
</ul>